<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".filter2"></activity>
        <activity android:name=".Filter"></activity>
        <activity android:name=".message" />
        <activity android:name=".ContactSitter"/>
        <activity android:name=".ContactSitter2"/>
        <activity android:name=".pet_selection" />
        <activity android:name=".PetDetails" />
        <activity android:name=".PetDetails2"/>
        <activity android:name=".History" android:label="History"/>
        <activity android:name=".comment" />
        <activity android:name=".Login" />
        <activity android:name=".SittersNearMe2" />
        <activity android:name=".Searching_for" />
        <activity android:name=".Register" />
        <activity android:name=".sitter_selection1" />
        <activity android:name=".pet_info" />
        <activity android:name=".sitter_details" />
        <activity android:name=".Sitters_near_me"
            android:label="Sitters Near Me"/>
        <activity android:name=".Become_sitter" android:theme="@style/BecomeSitterTheme" />
        <activity android:name=".AccountPage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>